server:
  port: 8081

spring:
  application:
    name: claim-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/claimsdb}
    username: ${DB_USERNAME:venkat}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVER_ISSUER:http://localhost:8080}

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

aws:
  region: ${AWS_REGION:us-east-1}
  s3:
    bucket: ${AWS_S3_BUCKET:superhealth-claims-bucket}

app:
  frontend:
    url: ${FRONTEND_URL:http://localhost:5173}

logging:
  level:
    org.springframework.security: INFO
